// common color
$primary: #7E0001;
$secondary: #111D5E;
$danger: #FF0002;
$dark: #151515;
$light: #F2F2F2;

// font weight key and value
$fontWeights : (
  "fw4": 400,
  "fw5": 500,
  "fw6": 600,
  "fw7": 700,
  "fw8": 800,
  "fw9": 900,
  "fwb": bolder,
);


// font size key and value
$fontSizes : (
  "title": 34px,
  "subtitle": 26px,
  "normal": 18px,
  "small": 14px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 980px,
  xl: 1140px,
  xxl: 1320px
);