@import './resets';
@import './virable';


// for custom bgcolor

.custom-bg-pirmary{
  background-color: $primary;
}
.custom-bg-secondary {
  background-color: $secondary;
}
.custom-bg-danger{
  background-color: $danger;
}
.custom-bg-dark {
  background-color: $dark;
}
.custom-bg-light {
  background-color: $light;
}


// custom text color

.custom-text-pirmary{
  color: $primary;
}
.custom-text-secondary 
{
  color: $secondary;
}
.custom-text-danger {
  color: $danger;
}
.custom-text-dark {
  color: $dark;
}
.custom-text-light {
  color: $light;
}


// custom nav color

.custom-navbar-pirmary {
  background-color: $primary;
}
.custom-navbar-secondary {
  background-color: $secondary;
}
.custom-navbar-danger {
  background-color: $danger;
}
.custom-navbar-dark {
  background-color: $dark;
}
.custom-navbar-light{
  background-color: $light;
}


// for button color

.custom-btn-pirmary {
  background-color: $primary;
};

.custom-btn-secondary {
  background-color: $secondary;
};

.custom-btn-danger {
  background-color: $danger;
}

.custom-btn-dark {
  background-color: $dark;
}

.custom-btn-light {
  background-color: $light;
}


// custom font weight 

.custom-fw4 {
  font-weight: map-get($fontWeights, 'fw4');
}
.custom-fw5 {
  font-weight: map-get($fontWeights, 'fw5');
}
.custom-fw6 {
  font-weight: map-get($fontWeights, 'fw6');
}
.custom-fw7 {
  font-weight: map-get($fontWeights, 'fw7');
}
.custom-fw8 {
  font-weight: map-get($fontWeights, 'fw8');
}
.custom-fw9 {
  font-weight: map-get($fontWeights, 'fw9');
}
.custom-fwb {
  font-weight: map-get($fontWeights, 'fwb');
}


// custom font size 

.custom-fs-title {
  font-size: map-get($fontSizes, 'title');
} // title ==> 48px

.custom-fs-subtitle {
  font-size: map-get($fontSizes, 'subtitle');
} // subtitle ==> 36px

.custom-fs-normal {
  font-size: map-get($fontSizes, 'normal');
} // normal

.custom-fs-small {
  font-size: map-get($fontSizes, 'small');
} // small

